/* --------------- Header Section ---------------- */
.header {
    background-image: url("lib/assets/la_banner.JPG");
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0,0,0,.25);
}
.mainHeader {
    background-color: rgba(0, 0, 0, .7);
    width: 25vw;
    display: flex;
    border-radius: 15px;
    margin: 4px;
    justify-content: space-evenly;
}
#capreHeader {
    max-width: 128px;
    max-width: 128px;
}

.headerWords {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerWords p {
    font-size: 0.75rem;
}
.headerWords h2 {
    font-size: 1rem;
}
.headerText {
    margin: 0px;
    color: #C49841;
    padding: 4px;
}
.navlist {
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 15vw;
    margin: 4px;
    padding: 8px;
}
.navitems {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
.navText {
    color: #C49841;
    text-decoration: none;
}
/* ---------------- html --------------------- */

html {
    scroll-snap-type: y mandatory;
    font-size: 16;
}
section {
    scroll-snap-align: start;
}
body {
    margin: 0;
}

/* ------------- Dynamic Sizing ---------------- */

/* For Mobile */
@media screen and (max-width: 540px) {
   
    .mainHeader {
        width: 50vw;
    }
    .headerWords {
        font-size: .75rem;
    }
}

/* For Tablet */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .mainHeader {
        width: 40vw;
    }
}

